@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Poppins", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
}

main {
  background-color: #f9f9f9;
  padding: 100px 50px;
}

select {
  opacity: 0.5;
}

button:hover {
  opacity: 0.8;
}

/* Fonts */
.font-size-14 {
  font-size: 14px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-48 {
  font-size: 48px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.line-height-40 {
  line-height: 40px;
}

/* Helper Classes */

.br-10 {
  border-radius: 10px;
}

.text-white {
  color: white;
}

.m-l-7 {
  margin-left: 7px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.primary-color {
  background-color: #43b97f;
}

.secondary-color {
  background-color: #295943;
}

.secondary-text-color {
  color: #295943;
}

/* Header */

.container-for-header-and-section {
  height: 720px;
  background-image: url(../images/Background-header.png);
  background-size: cover;
}

.header {
  padding: 30px 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  margin-top: 0;
  cursor: pointer;
}

.main-navigation ul {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

ul li {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
  font-weight: 700;
}

.header-languages-container {
  padding-top: 20px;
  cursor: pointer;
}

/* Section Search */

.section-search {
  width: 100%;
  padding: 50px;
  display: flex;
}

.search-container {
  width: 780px;
  height: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 350px;
  margin-top: 50px;
}

.section-search--text {
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 65px;
}

.search-form {
  width: 780px;
  height: 67px;
  display: grid;
  grid-template-columns: 35% 0 1fr 0 1fr 0 1fr;
  grid-template-areas: "destination . date . person . button";
}

.input {
  height: 52px;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

input::placeholder {
  padding-left: 10px;
  color: #295943;
}

.search-destination--location-icon {
  position: absolute;
  padding-top: 12px;
  padding-left: 10px;
  color: #295943;
}

.destination {
  grid-area: destination;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  border-right: #295943 solid 1px;
}

.destination::placeholder {
  padding-left: 35px;
}

.date-of-stay {
  grid-area: date;
  border: none;
}

.person {
  grid-area: person;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  border-left: #295943 solid 1px;
}

.search-button {
  width: 168px;
  height: 49px;
  background-color: #43b97f;
  color: white;
  border: none;
  border-radius: 8px;
  grid-area: button;
}

/* Section Travelers Point or About Company */

.main-about {
  height: 550px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.main-about--pictures {
  width: 50%;
  display: grid;
  grid-template-columns: 38% repeat(2, 20%);
  grid-template-rows: 30% 40%;
}

.main-about--pic-traveler1 {
  grid-column: 1;
  grid-row-start: 1;
  z-index: 10;
}

.main-about--pic-traveler2 {
  grid-column: 2;
  grid-row-start: 2;
}

.main-about--pic-traveler3 {
  grid-column: 3;
  grid-row: 1;
}

.main-about--text {
  width: 50%;
}

.main-about-statistics--container {
  height: 225px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 30px;
  align-items: center;
}

/* Section Destination  */

.main-products--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 1rem;
  padding: 10px;
}

.card-img-top {
  border-radius: 1rem;
}

/* Testimonial or Reviews */
.main-reviews {
  width: 100%;
  height: 546px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main-reviews-title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-reviews--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews-list--item {
  max-width: 379px;
  height: 197px;
  cursor: pointer;
  padding: 10px;
}

.reviews-list--item:hover {
  background-color: #43b97f;
}

.reviews-item--name {
  height: 30%;
  display: flex;
  align-items: center;
}

.reviews-item--text {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

.footer {
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-logo {
  cursor: pointer;
}

.footer-title {
  width: 25%;
}

.footer-links {
  width: 25%;
  padding-left: 100px;
}

.footer-services,
.footer-contact {
  width: 25%;
  padding-left: 50px;
}

.footer-media {
  padding-top: 20px;
}

.footer-media--container {
  display: flex;
  flex-direction: row;
}
